@charset "UTF-8";

/* ==== BANNER ==== */
#banner {
	height: 500px;
}

/* ==== INTRO ==== */
#intro > p {
	text-align: justify;

	margin: 0px;
	padding-left: 48px;
	padding-right: 48px;
	padding-top: 48px;
	padding-bottom: 48px;
}

/* ==== FEATURES ==== */
#features > h3 {
	text-align: justify;

	margin: 0px;
	padding-left: 48px;
	padding-right: 48px;
	padding-bottom: 20px;
}

#features ul {
	text-align: justify;

	margin: 0px;
	padding-left: 72px;
	padding-right: 48px;
	padding-bottom: 48px;
}

#features ul li {
	text-align: justify;

	font-size: large;
	padding-bottom: 4px;
}

/* ==== TRAILER ==== */
#trailer {
	text-align: center;
}

#trailer > #video {
	padding-bottom: 48px;
}

/* ==== GALLERY ==== */
#gallery > div {
	width: 928px;
	text-align: center;

	padding-bottom: 48px;
	margin-left: auto;
	margin-right: auto;
}

#gallery a:link {
	text-decoration: none;

	margin-left: 8px;
	margin-right: 8px;
}

/* ==== VERSIONS ==== */
#versions > p {
	text-align: justify;

	margin: 0px;
	padding-left: 48px;
	padding-right: 48px;
	padding-bottom: 48px;
}

/* ==== PLATFORMS ==== */
#platforms {
	text-align: center;
	font-size: 150%;
}

#platforms > p {
	margin: 0px;
	padding-left: 16px;
	padding-right: 16px;
	padding-bottom: 24px;
}

/* ==== STORES ==== */
#stores {
	text-align: center;
	padding-bottom: 32px;
}

#stores div {
	margin-left: auto;
	margin-right: auto;
}

#stores a:link {
	text-decoration: none;

	margin-left: 8px;
	margin-right: 8px;
}

/* ==== EPILOGUE ==== */
#epilogue > p {
	text-align: justify;

	margin: 0px;
	padding-left: 48px;
	padding-right: 48px;
	padding-bottom: 48px;
}