@charset "UTF-8";

/* ==== BANNER ==== */
#banner {
	height: 192px;
	background-image: url("../img/banner.png");
	background-position: 0px -80px;
}

/* ==== CONTENT ==== */

/* ==== CONTENT LEFT ==== */
#content_left {
	border-right-style: solid;
	border-right-color: #C0C0C0;
	border-right-width: 1px;

	display: inline-block;
	width: 55%;
	padding-left: 48px;
	padding-right: 48px;
	margin-top: 48px;
	margin-bottom: 48px;
}

#content_left > div {
	border-bottom-style: dashed;
	border-bottom-color: #C0C0C0;
	border-bottom-width: 1px;

	text-align: justify;
}

#content_left > div:first-child {
	border-bottom-style: none;
}

#content_left > div:last-child {
	border-bottom-style: none;
}

#content_left .post_date {
	margin-top: 0px;
	margin-bottom: 16px;
}

#content_left .post_title {
	margin-top: 0px;
	margin-bottom: 24px;
}

#content_left .thumbnail {
	text-align: center;
}

/* ==== CONTENT RIGHT ==== */
#content_right {
	font-size: 80%;
	text-align: justify;

	display: inline-block;
	vertical-align: top;
	width: 25%;
	padding-left: 48px;
	padding-right: 48px;
	margin-top: 48px;
	margin-bottom: 48px;
}

#content_right #contact {
	padding-top: 40px;
}