@charset "UTF-8";

/* ==== CONDITIONS ==== */
#conditions > h2 {
	text-align: justify;

	margin: 0px;
	padding-left: 48px;
	padding-right: 48px;
	padding-top: 32px;
	padding-bottom: 16px;
}

#conditions > h2:first-child {
	padding-top: 48px;
}

#conditions > p {
	text-align: justify;

	margin: 0px;
	padding-left: 48px;
	padding-right: 48px;
	padding-top: 0px;
	padding-bottom: 16px;
}

#conditions > p:last-child {
	padding-bottom: 48px;
}